{{#extends 'base'}}

{{#block}}
<h1>Are you sure you want to delete?</h1>
<form method="POST">
<button type="button submit" class="btn btn-primary">Yes</button>
<button type="button" class="btn btn-danger">No</button>
</form>
{{/block}}

{{/extends}}